.App {
  text-align: center;
}

.homeBtn{
  float:left;
  margin-left: 10px;
}

div{
  clear:both;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.api-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error{
  width:100vw;
  height:100vw;
  overflow:hidden;
}

.error *{
  position:relative;
  top:17%;
  font-size:xx-large;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
